<section class="contacts" id="contacts">
    <div class="contacts__thumb">
        <div class="container">
            <h2 class="contacts__main-title">We are waiting for you</h2>
            <ul class="contacts-list">
                <li class="contacts__item">
                    <p class="contacts__category">CAFE</p>
                    <h3 class="contacts__title">Chicago</h3>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts-date">
                        <li class="contacts-date__list-top">
                            <p class="contacts-date__days">Monday - Friday</p>
                            <p class="contacts-date__time">
                                <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 AM</time>
                            </p>
                        </li>
                        <li class="contacts-date__list">
                            <p class="contacts-date__days">Saturday - Sunday</p>
                            <p class="contacts-date__time">
                                <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 AM</time>
                            </p>
                        </li>
                    </ul>
                    <ul class="contacts-link">
                        <li>
                            <a class="contacts-link__connect" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contacts-link__connect" href="mailto:noreply@envato.comg">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="contacts__item">
                    <p class="contacts__category contacts__category--green">FOOD TRUCK</p>
                    <h3 class="contacts__title">Los Angeles</h3>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts-date">
                        <li class="contacts-date__list-top">
                            <h3 class="contacts-date__days">Monday - Friday</h3>
                            <p class="contacts-date__time">
                                <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 AM</time>
                            </p>
                        </li>
                        <li class="contacts-date__list">
                            <p class="contacts-date__days">Saturday - Sunday</p>
                            <p class="contacts-date__time">
                                <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 AM</time>
                            </p>
                        </li>
                    </ul>
                    <ul class="contacts-link">
                        <li>
                            <a class="contacts-link__connect" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contacts-link__connect" href="mailto:noreply@envato.comg">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="contacts__item">
                    <p class="contacts__category">CAFE</p>
                    <h3 class="contacts__title">New York</h3>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts-date">
                        <li class="contacts-date__list-top">
                            <p class="contacts-date__days">Monday - Friday</p>
                            <p class="contacts-date__time">
                                <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 AM</time>
                            </p>
                        </li>
                        <li class="contacts-date__list">
                            <h3 class="contacts-date__days">Saturday - Sunday</h3>
                            <p class="contacts-date__time">
                                <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 AM</time>
                            </p>
                        </li>
                    </ul>
                    <ul class="contacts-link">
                        <li>
                            <a class="contacts-link__connect" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contacts-link__connect" href="mailto:noreply@envato.comg">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="contacts-btn">
                <li class="contacts-btn__item">
                    <button class="button button--dark contacts-btn__link contacts-btn__link-red js-modal-btn js-modal-btn-location" type="button">
                        Our Locations
                        <svg class="contacts-btn__icon-white">
                            <use href="images/icons.svg#vector-icon"></use>
                        </svg>
                    </button>
                </li>
                <li class="contacts-btn__item">
                    <button class="button contacts-btn__link contacts-btn__link-white js-modal-btn js-modal-btn-franchise" type="button">
                        Franchise
                        <svg class="contacts-btn__icon-red">
                            <use href="images/icons.svg#vector-icon"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>