<section class="customer-reviews">
    <div class="container">
        <h2 class="customer-reviews__title">Отзывы покупателей</h2>
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__items">
                    <div class="slider__item">
                        <div class="customer-reviews__inner">
                            <picture class="customer-reviews__img">
                                <source
                                    srcset="
                                        ./images/customer-reviews/image-1-x1.png 1x,
                                        ./images/customer-reviews/image-1-x2.png 2x
                                    "
                                    type="image/png"
                                />
                                <img src="./images/customer-reviews/image-1-x1.png" alt="" />
                            </picture>
                            <div class="customer-reviews__text-inner">
                                <div class="customer-reviews__decorate">
                                    <p class="customer-reviews__text">
                                        Nullam viverra consectetuer. Quisque cursus et, porttitor
                                        risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.
                                    </p>
                                </div>
                            </div>
                            <p class="customer-reviews__label">Emily, Los Angeles</p>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="customer-reviews__inner">
                            <picture class="customer-reviews__img">
                                <source
                                    srcset="
                                        ./images/customer-reviews/image-2-x1.png 1x,
                                        ./images/customer-reviews/image-2-x2.png 2x
                                    "
                                    type="image/png"
                                />
                                <img src="./images/customer-reviews/image-2-x1.png" alt="" />
                            </picture>
                            <div class="customer-reviews__text-inner">
                                <div class="customer-reviews__decorate">
                                    <p class="customer-reviews__text">
                                        Nullam viverra consectetuer. Quisque cursus et, porttitor
                                        risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.
                                    </p>
                                </div>
                            </div>
                            <p class="customer-reviews__label">Lisa, New-York</p>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="customer-reviews__inner">
                            <picture class="customer-reviews__img">
                                <source
                                    srcset="
                                        ./images/customer-reviews/image-3-x1.png 1x,
                                        ./images/customer-reviews/image-3-x2.png 2x
                                    "
                                    type="image/png"
                                />
                                <img src="./images/customer-reviews/image-3-x1.png" alt="" />
                            </picture>
                            <div class="customer-reviews__text-inner">
                                <div class="customer-reviews__decorate">
                                    <p class="customer-reviews__text">
                                        Nullam viverra consectetuer. Quisque cursus et, porttitor
                                        risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.
                                    </p>
                                </div>
                            </div>
                            <p class="customer-reviews__label">Annet, Paris</p>
                        </div>
                    </div>
                </div>
            </div>
            <a
                class="slider__control slider__control_prev"
                href="#"
                role="button"
                data-slide="prev"
            ></a>
            <a
                class="slider__control slider__control_next"
                href="#"
                role="button"
                data-slide="next"
            ></a>
        </div>
    </div>
</section>
