<section class="gallery">
    <div class="container">
        <h2 class="gallery__title">Products and customer gallery</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <div class="gallery__box">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice1.jpg" class="gallery__image" alt="ice-cream on plate" />
                    </div>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__box gallery__box--top">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice2.jpg" class="gallery__image" alt="hand holds pink ice-cream" />
                    </div>
                </div>
                <div class="gallery__box">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice3.jpg" class="gallery__image" alt="lots of pink ice-creams on table" />
                    </div>
                </div>
            </li>
            <li class="gallery__item gallery__item--big">
                <div class="gallery__box gallery__box--top">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice-big.jpg" class="gallery__image"
                            alt="lots of decorated ice creams on table" />
                    </div>
                </div>
                <div class="gallery__box gallery__box--bottom">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice5.jpg" class="gallery__image" alt="girl's smile with ice-cream in hand" />
                    </div>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__box gallery__box--top">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice6.jpg" class="gallery__image" alt="lots of ice-cream on table" />
                    </div>
                </div>
                <div class="gallery__box">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice7.jpg" class="gallery__image" alt="hand holds ice cream" />
                    </div>
                </div>
            </li>
            <li class="gallery__item gallery__item--top">
                <div class="gallery__box gallery__box--top">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice8.jpg" class="gallery__image" alt="dog licks ice cream" />
                    </div>
                </div>
                <div class="gallery__box">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice9.jpg" class="gallery__image" alt="ice cream cupcake" />
                    </div>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__box">
                    <div class="gallery__wrap">
                        <img src="./images/gallery/ice10.jpg" class="gallery__image" alt="ice cream vacation" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
