<header id="header" class="header">
    <div class="container header__container">
        <a class="logo" href="#!">
            <img srcset="./images/header-logo/logo-x1.png 199w,
                        ./images/header-logo/logo-x2.png 398w"
            src="./images/header-logo/logo-x1.png" alt="Logo" width="199" height="50"
            sizes="(min-width: 320px) 199px"/>
        </a>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="#header">Home</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#advantages">About us</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#about">How it’s made?</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#products">Our products</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#contacts">Contact</a></li>
            </ul>
        </nav>
        <div class="header__buttons-wrap">
            <button class="button-mobmenu js-open-btn" type="button" open-menu>
                <svg class="button-mobmenu__icon js-open-btn" 
                width="20" 
                height="20"
                aria-expanded="false" 
                aria-label="mobile menu toggle">
                    <use class="icon-menu js-open-btn" href="images/icons.svg#menu-button-icon"></use>
                </svg>
            </button>
            <button class="button header__button js-modal-btn js-modal-btn-buy" type="button">
                <span class="header__button-text">Buy now</span>
                <span>
                    <svg class="header__button-icon">
                        <use href="images/icons.svg#vector-icon"></use>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="mobile-menu" mobile-menu>
        <button class="button-close button-close--mobile mobile-menu__close-button" type="button" close-menu>
            <svg class="button-close__icon" width="14" height="14" aria-expanded="false"
                aria-label="mobile menu toggle">
                <use class="icon-cross" href="images/icons.svg#close-menu-button-icon"></use>
            </svg>
        </button>
        <div class="mobile-menu__button-wrap">
            <button class="button mobile-menu__button js-modal-btn js-modal-btn-buy" type="button">
                <span class="header__button-text">Buy now</span>
                <span>
                    <svg class="header__button-icon">
                        <use href="images/icons.svg#vector-icon"></use>
                    </svg>
                </span>
            </button>
        </div>
        <nav class="navigation mobile-menu__navigation">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#header-fix" close-link-first>Home</a></li>
                <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#advantages" close-link-second>About us</a></li>
                <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#about" close-link-third>How it’s made?</a></li>
                <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#products" close-link-fourth>Our products</a></li>
                <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#contacts" close-link-fifth>Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
