<section class="hero" id="header-fix">
    <div class="container hero__container">
        <div class="hero__left">
            <h1 class="hero__title">ice cream made with <span class="hero__title-accent">passion</span></h1>
            <ul class="hero__btn-set">
                <li class="hero__btn-item">
                    <a class="button button--dark hero__btn" href="#products">
                        Products
                    </a>
                </li>
                <li class="hero__btn-item">
                    <a class="button hero__btn hero__btn--big" href="#about">
                        How it’s made?
                    </a>
                </li>
            </ul>
            <div class="hero__description">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et<span class="js-dots">.</span><span class="js-more">. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>
                </p>
                <button class="button-arrow button-arrow--small js-more-btn" type="button" aria-label="read-more">
                    <svg class="button-arrow__icon" width="10" height="10">
                        <use href="./images/icons.svg#big-arrow-icon"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="hero__right">
            <ul class="our-numbers">
                <li class="our-numbers__item">
                    <span class="our-numbers__value">16</span>
                    <p class="our-numbers__text">cafes</p>
                </li>
                <li class="our-numbers__item">
                    <span class="our-numbers__value our-numbers__value--small-padding">23</span>
                    <p class="our-numbers__text">food trucks</p>
                </li>
            </ul>
        </div>
        <picture class="hero__img-milk">
            <source srcset="./images/hero/hero-milk-x1.png 1x, ./images/hero/hero-milk-x2.png 2x" media="(min-width:1280px)">
            <source srcset="./images/hero/hero-milk-tab-x1.png 1x, ./images/hero/hero-milk-tab-x2.png 2x" media="(min-width:768px)">
            <img src="./images/hero/hero-milk-tab-x1.png" alt="the milk comes out of the decanter">
        </picture>
        <picture class="hero__img-ice-cream">
            <source srcset="./images/hero/hero-ice-cream-x1.png 1x, ./images/hero/hero-ice-cream-x2.png 2x"
                media="(min-width:1280px)">
            <source srcset="./images/hero/hero-ice-cream-tab-x1.png 1x, ./images/hero/hero-ice-cream-tab-x2.png 2x"
                media="(min-width:768px)">
            <source srcset="./images/hero/hero-ice-cream-mob-x1.png 1x, ./images/hero/hero-ice-cream-mob-x2.png 2x"
                type="image/png">
            <img src="./images/hero/hero-ice-cream-mob-x1.png" alt="big multicolored ice cream">
        </picture>
        <picture class="hero__img-squirrel">
            <source srcset="./images/hero/hero-squirrel-x1.png 1x, ./images/hero/hero-squirrel-x2.png 2x" media="(min-width:1280px)">
            <source srcset="./images/hero/hero-squirrel-tab-x1.png 1x, ./images/hero/hero-squirrel-tab-x2.png 2x" media="(min-width:768px)">
            <img src="./images/hero/hero-squirrel-tab-x1.png" alt="funny cartoon squirrel">
        </picture>
        <div class="love-animation">
            <div class="love-animation__heart">
                <svg class="love-animation__icon" width="80" height="80" viewBox="0 0 800 700"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m263.42 235.15c-66.24 0-120 53.76-120 120 0 134.76 135.93 170.09 228.56 303.31 87.574-132.4 228.56-172.86 228.56-303.31 0-66.24-53.76-120-120-120-48.048 0-89.402 28.37-108.56 69.188-19.161-40.817-60.514-69.188-108.56-69.188z" />
                </svg>
            </div>
            <div class="love-animation__heart">
                <svg class="love-animation__icon" width="70" height="70" viewBox="0 0 800 700"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m263.42 235.15c-66.24 0-120 53.76-120 120 0 134.76 135.93 170.09 228.56 303.31 87.574-132.4 228.56-172.86 228.56-303.31 0-66.24-53.76-120-120-120-48.048 0-89.402 28.37-108.56 69.188-19.161-40.817-60.514-69.188-108.56-69.188z" />
                </svg>
            </div>
            <div class="love-animation__heart">
                <svg class="love-animation__icon" width="68" height="68" viewBox="0 0 800 700"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m263.42 235.15c-66.24 0-120 53.76-120 120 0 134.76 135.93 170.09 228.56 303.31 87.574-132.4 228.56-172.86 228.56-303.31 0-66.24-53.76-120-120-120-48.048 0-89.402 28.37-108.56 69.188-19.161-40.817-60.514-69.188-108.56-69.188z" />
                </svg>
            </div>
        </div>
    </div>
</section>
