<div class="backdrop backdrop--hidden js-modal-about">
    <div class="modal modal-video">
        <button class="button-close modal__button-close js-modal-btn js-modal-btn-about" id="close-video" type="button">
            <svg class="button-close__icon" width="11" height="11">
                <use href="./images/icons.svg#close-menu-button-icon"></use>
            </svg>
        </button>
        <div class="modal-video__content">
            <p class="title modal__title">How it`s made?</p>
            <ul class="modal-video__list">
                <li class="modal-video__item">
                    <p>We are able to produce up to 8,500 ice creams per hour on just one production line. 75,000 per day. But it’s not always
                    a challenge, ice cream is a seasonal product.</p>
                </li>
                <li class="modal-video__item">
                    <p>The factory can handle up to 100 tons of milk. The whole milk brought from the farms is first delivered to the milk
                    dispenser, from where it is sent to the laboratory for control. If the milk is all right, it will be pasteurized and
                    then it will be stored in a giant tank or immediately put into production.</p>
                </li>
                <li class="modal-video__item">
                    The fatness of the milk may vary at the time
                    of acceptance, in fact it is an optional criterion in the production of ice cream. It is important that the finished
                    filling has a fat value of 12% - that is the requirement. To get this percentage of fat, the normalized milk is combined
                    with condensed and cream. And if the milk analyzer tests show that the mixture does not reach the required fat, you can
                    add some butter to the future filling.
                </li>
                <li class="modal-video__item modal-video__item--centered">
                    <b>We use the best ingredients and take care of you!</b>
                </li>
            </ul>
            <video class="modal-video__player video-setup" src="./video/ice-cream.mp4" poster="" muted controls loop>
            </video>
        </div>
    </div>
</div>