<div class="backdrop is-hidden data-modal" data-mobile-menu>
    <div class="modal">
        <button class="modal-button-top data-modal-close">
            <svg class="modal-button-icon" height="12" width="20">
                <use href="images/sprite.svg#close"></use>
            </svg>
        </button>
        <form action="#" name="modal-form">

            <label class="modal-label" for="modal-name">Name</label>
            <div class="input-wrap">
                <input type="text" name="name" id="modal-name" class="modal-input" required>
                
            </div>

            <label class="modal-label" for="modal-tel">Phone</label>
            <div class="input-wrap">
                <input type="tel" name="phone" id="modal-tel" class="modal-input" required>
                
            </div>


            <!-- <table id="table-price-box" class="total-product">
                <tr><td>Cold Drinks<td>Amount<td>Price<td>total</tr>
                <tr><td class="modal-label">Ice cream<td><input name="name" id="modal-name" class="modal-input-product" type="number"><td class="price">35<td class="sum"></tr>
                <tr><td class="modal-label">Ice coffee<td><input name="name" id="modal-name" class="modal-input-product" type="number"><td class="price">35<td class="sum"></tr>
                <tr><td class="modal-label">Milkshake<td><input name="name" id="modal-name" class="modal-input-product" type="number"><td class="price">35<td class="sum"></tr>
                </table>

                <p class="total-product">To pay  <span id="total">0</span> руб.</p> -->


            <label class="comment-wrap">
                <span class="modal-label">Address</span>
                <textarea name="modal-comment" class="modal-comment" placeholder="Please write your address here. If you have any suggestions, you can write."></textarea>
            </label>

            <table id="table-price-box" class="total-product">
                <tr><td>Cold Drinks<td>Amount<td>Price<td>Total</tr>
                <tr><td class="modal-label">Ice cream<td><input name="name" id="modal-name" class="modal-input-product" type="number"><td class="price">35<td class="sum"></tr>
                <tr><td class="modal-label">Ice coffee<td><input name="name" id="modal-name" class="modal-input-product" type="number"><td class="price">35<td class="sum"></tr>
                <tr><td class="modal-label">Milkshake<td><input name="name" id="modal-name" class="modal-input-product" type="number"><td class="price">35<td class="sum"></tr>
                </table>

                <p class="total-product">To pay  <span id="total">0</span> руб.</p>

            <ul>
                <li>
                    <a class="modal-button" href="./buy-product.html">PAY</a>
                </li>
            </ul>
        </form>
    </div>
</div>